@model IEnumerable<Infraestructure.Models.Gestion>

@{
    ViewBag.Title = "Gestiones por tipo";
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdUsuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdTipoMovimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdDetalleMovimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdSucursal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdProveedor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Id)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.IdUsuario)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.IdTipoMovimiento)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.IdDetalleMovimiento)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.IdSucursal)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.IdProveedor)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Fecha)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
    </td>
</tr>
}

</table>
