@model Infraestructure.Models.Calzado

@{
    ViewBag.Title = "Detalle calzado";
}


<div>
    <div class="card border-light mb-3" style=" margin-top:5%; width:50%; margin-left:25%">
        <div class="card-header" style="color: #900C3F; font-size: 20px">Detalle</div>
        <div class="card-body">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Id)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Id)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.NombreMarca)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.NombreMarca)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.IdGenero)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.IdGenero)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.IdTalla)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.IdTalla)
                </dd>

                <dt>
                   @Html.DisplayNameFor(model => model.PrecioProv)
                </dt>

                <dd>
                    ₡ @Html.DisplayFor(model => model.PrecioProv)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.PrecioVent)  
                </dt>

                <dd>
                    ₡ @Html.DisplayFor(model => model.PrecioVent)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CantMin)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CantMin)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CantMax)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CantMax)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CantTotal)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CantTotal)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Descripcion)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Descripcion)
                </dd>

            </dl>
           
            <p style="margin-right: 20px">
                @Html.ActionLink("Editar", "Editar", new { id = Model.Id })

            </p>
        </div>
    </div>
</div>
      
        <center>
            <h4 style="color:#900C3F;margin-top:5%">Calzado por proveedor</h4>
            <table class="table table-hover" style="width:50%">
                <tr class="table-light">
                    <th scope="col" class="text-center">
                        Proveedor
                    </th>
                    <th scope="col" class="text-center">
                        Ubicación
                    </th>
                    <th scope="col" class="text-center">
                        País
                    </th>
                </tr>

                @foreach (var item in Model.Proveedor)
                {
                    <tr class="table-light">
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.Ubicacion)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.Pais)
                        </td>
                    </tr>
                }
            </table>
            <h4 style="color:#900C3F;margin-top:5%">Calzado por Sucursal</h4>
            <table class="table table-hover" style="width:50%">
                <tr class="table-light">
                    <th scope="col" class="text-center">
                        Sucursal
                    </th>
                </tr>

                @foreach (var item in Model.CalzadoxSucursal)
                {
                    <tr class="table-light">
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.Sucursal.Id)
                        </td>
                    </tr>
                }
            </table>
        </center>
        <p> @Html.ActionLink("Regresar", "GetCalzados")</p>
