@model Infraestructure.Models.Agente

@{
    ViewBag.Title = "Agente por código";
}


<div style="margin-top: 5%">
    <h3 style="color: #ffc107">Agente</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt style=" font-size: 22px;">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd class="text-muted" style=" font-size: 20px;">
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt style=" font-size: 22px;">
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>

        <dd class="text-muted" style=" font-size: 20px;">
            @Html.DisplayFor(model => model.Telefono)
        </dd>

        <dt style=" font-size: 22px;">
            @Html.DisplayNameFor(model => model.Correo)
        </dt>

        <dd class="text-muted" style=" font-size: 20px;">
            @Html.DisplayFor(model => model.Correo)
        </dd>

        <dt style=" font-size: 22px;">
            @Html.DisplayNameFor(model => model.IdProveedor)
        </dt>

        <dd class="text-muted" style=" font-size: 20px;">
            @Html.DisplayFor(model => model.IdProveedor)
        </dd>

        <dt style=" font-size: 22px;">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd class="text-muted" style=" font-size: 20px;">
            @Html.DisplayFor(model => model.Estado)
        </dd>

    </dl>
</div>
<p style=" font-size: 18px;">
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Regresar", "GetAgentes")
</p>