<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - S&L Store</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Logout.css")
    @Styles.Render("~/Content/Details.css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="icon" href="~/Images/S&L Icono.png" type="image/png" sizes="228×228">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">S&L Store</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto" style="color:white">
                <li class="nav-item">
                    @Html.ActionLink("Inicio", "Index", "Home", null, new { @class = "nav-link" })
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Calzado</a>
                    <div class="dropdown-menu">
                        @Html.ActionLink("Registrar", "Index", "Home", null, new { @class = "dropdown-item" })
                        @Html.ActionLink("Consultar", "GetCalzados", "Calzado", null, new { @class = "dropdown-item" })
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Movimientos</a>
                    <div class="dropdown-menu">
                        @Html.ActionLink("Entradas", "Index", "Home", null, new { @class = "dropdown-item" })
                        @Html.ActionLink("Salidas", "Index", "Home", null, new { @class = "dropdown-item" })
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Proveedores</a>
                    <div class="dropdown-menu">
                        @Html.ActionLink("Registrar", "Index", "Home", null, new { @class = "dropdown-item" })
                        @Html.ActionLink("Consultar", "GetProveedores", "Proveedor", null, new { @class = "dropdown-item" })
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Planilla</a>
                    <div class="dropdown-menu">
                        @Html.ActionLink("Agregar", "Index", "Home", null, new { @class = "dropdown-item" })
                        @Html.ActionLink("Consultar", "Index", "Home", null, new { @class = "dropdown-item" })
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Sucursal</a>
                    <div class="dropdown-menu">
                        @Html.ActionLink("Atenas", "Index", "Home", null, new { @class = "dropdown-item" })
                        @Html.ActionLink("Naranjo", "Index", "Home", null, new { @class = "dropdown-item" })
                    </div>
                </li>
                <li class="nav-item" >
                    @Html.ActionLink("Reportes", "Index", "Home", null, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Acerca", "About", "Home", null, new { @class = "nav-link" })
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <a style="color:white;">Usuario</a>

                &nbsp;
                &nbsp;
                &nbsp;
                <div class="logout">
                    <i class="fa fa-sign-out" aria-hidden="true" style="color: white;font-size: 20px"></i>
                </div>
                

            </form>
        </div>
    </nav>
    <main>
        <div class="container">
            @RenderBody()
        </div>
    </main>
    @RenderSection("footer",false)
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
